<!DOCTYPE html>
<html lang="pl">
<head>
  <%= require('html-loader!../partials/head.ejs').default %>
  <title>Brandoo.dev</title>
</head>
<body>
  <%= require('html-loader!../partials/menu.ejs').default %>
  <h1>Brandoo.dev</h1>
  <section id="oferta">

    <div class="row">
      <h2>Oferta</h2>
      <div class="offer-item">
        <h3>Integracje systemów IT</h3>
        <p>Integracja niezależnych od siebie systemów znacząco wpłynie na szybkość przepływu danych wewnątrz firmy oraz obniży koszty ich obróbki.</p>
        <a href="" class="offer-item__more">Czytaj więcej</a>
      </div>
      <div class="offer-item">
        <h3>WEB APPS</h3>
        <p>Dedykowane aplikacje webowe to szyte na miarę zaawansowane systemy informatyczne, wspierające automatyzację procesów biznesowych lub podnoszące efektywność działań marketingowych.</p>
        <a href="" class="offer-item__more">Czytaj więcej</a>
      </div>
      <div class="offer-item">
        <h3>PWA</h3>
        <p>Wdrożenie aplikacji progresywnych (PWA) podniesie komfort użytkowania systemu oraz odciąży serwery, co przyczyni się do zmniejszenia kosztów utrzymania infrastruktury IT.</p>
        <a href="" class="offer-item__more">Czytaj więcej</a>
      </div>
      <div class="offer-item">
        <h3>Consulting IT</h3>
        <p>Audyt istniejących oraz projektowanie i wdrażanie nowych rozwiązań z zakresu IT pozwoli na optymalizację działania infrastruktury informatycznej w Twojej firmie.</p>
        <a href="" class="offer-item__more">Czytaj więcej</a>
      </div>
    </div>
  </section>
  <section id="o-brandoo">
    <h2>O brandoo.dev</h2>
    <p>Jesteśmy interdyscyplinarnym zespołem, który od ponad 10 lat świadczy usługi w branży IT. Indywidualne podejście, nieszablonowe myślenie i specjalistyczna wiedza sprawiają, że tworzymy oprogramowanie biznesowe:</p>
    <ul>
      <li>wysokiej jakości,</li>
      <li>o niskich kosztach wdrożeniowych,</li>
      <li>tanie w utrzymaniu.</li>
    </ul>
    <p>
      Do realizowanych projektów podchodzimy z zachowaniem najwyższych standardów – dokładnie przetestowane, bezbłędnie działające aplikacje zawsze wdrażamy na czas!
    </p>
    <p>W skład Grupy Brandoo wchodzą:</p>
    <ul>
      <li><strong>brandoo.dev</strong> – usługi programistyczne dla dużych firm,</li>
      <li><strong>brandoo.tech</strong> – wsparcie IT przy mniejszych projektach,</li>
      <li><strong>brandoo.agency</strong>– interaktywna agencja marketingowa</li>
    </ul>
  </section>
  <section id="zadowoleni-klienci">
    <div class="row">
      <h2>Zadowoleni klienci</h2>
    </div>
  </section>
  <section id="branze">
    <div class="row">
      <h2>Obsługujemy firmy z różnych obszarów</h2>
      <ul>
        <li>
          <img src="" alt="">
          <span>Instytucje publiczne</span>
        </li>
        <li>
          <img src="" alt="">
          <span>IT</span>
        </li>
        <li>
          <img src="" alt="">
          <span>Medycyna</span>
        </li>
        <li>
          <img src="" alt="">
          <span>Przemysł</span>
        </li>
        <li>
          <img src="" alt="">
          <span>Transport</span>
        </li>
        <li>
          <img src="" alt="">
          <span>Zdrowie i uroda</span>
        </li>
        <li>
          <img src="" alt="">
          <span>Żywnośc</span>
        </li>
      </ul>
    </div>
  </section>
  <section id="brief">
    <p>Twojej branży nie ma na liście? Skontaktuj się z nami – nietypowe rozwiązania w niszach rynkowych to nasza specjalność!</p>
  </section>
  <%= require('html-loader!../partials/footer.ejs').default %>
</body>
</html>