<!DOCTYPE html>
<html lang="pl">
<head>
  <%= require('html-loader!../partials/head.ejs').default %>
  <title>Kontakt - Brandoo.dev</title>
</head>
<body>
  <%= require('html-loader!../partials/menu.ejs').default %>
  <h1>Kontakt Brandoo.dev</h1>
  <%= require('html-loader!../partials/footer.ejs').default %>
</body>
</html>