<!DOCTYPE html>
<html lang="pl">
<head>
  <%= require('html-loader!../partials/head.ejs').default %>
  <title>Oferta - Brandoo.dev</title>
</head>
<body>
  <%= require('html-loader!../partials/menu.ejs').default %>
  <h1>Oferta Brandoo.dev</h1>
  <%= require('html-loader!../partials/footer.ejs').default %>
</body>
</html>