<li>
  <img src="../images/publiczne.svg" width="80" height="80" alt="">
  <span>Instytucje publiczne</span>
</li>
<li>
  <img src="../images/it.svg" width="80" height="80"  alt="">
  <span>IT</span>
</li>
<li>
  <img src="../images/medycyna.svg" width="80" height="80"  alt="">
  <span>Medycyna</span>
</li>
<li>
  <img src="../images/przemysl.svg" width="80" height="80"  alt="">
  <span>Przemysł</span>
</li>
<li>
  <img src="../images/transport.svg" width="80" height="80"  alt="">
  <span>Transport</span>
</li>
<li>
  <img src="../images/zdrowie.svg" width="80" height="80"  alt="">
  <span>Zdrowie i uroda</span>
</li>
<li>
  <img src="../images/zywnosc.svg" width="80" height="80"  alt="">
  <span>Żywnośc</span>
</li>
<li>
  <img src="../images/uslugi.svg" width="80" height="80" alt="">
  <span>Usługi</span>
</li>
<li>
  <img src="../images/moda.svg" width="80" height="80" alt="">
  <span>Moda</span>
</li>
<li>
  <img src="../images/rozrywka.svg" width="80""height="80"  alt="">
  <span>Rozrywka</span>
</li>

<li>
  <img src="../images/publiczne.svg" width="80" height="80" alt="">
  <span>Instytucje publiczne</span>
</li>
<li>
  <img src="../images/it.svg" width="80" height="80"  alt="">
  <span>IT</span>
</li>
<li>
  <img src="../images/medycyna.svg" width="80" height="80"  alt="">
  <span>Medycyna</span>
</li>
<li>
  <img src="../images/przemysl.svg" width="80" height="80"  alt="">
  <span>Przemysł</span>
</li>
<li>
  <img src="../images/transport.svg" width="80" height="80"  alt="">
  <span>Transport</span>
</li>
<li>
  <img src="../images/zdrowie.svg" width="80" height="80"  alt="">
  <span>Zdrowie i uroda</span>
</li>
<li>
  <img src="../images/zywnosc.svg" width="80" height="80"  alt="">
  <span>Żywnośc</span>
</li>
<li>
  <img src="../images/uslugi.svg" width="80" height="80" alt="">
  <span>Usługi</span>
</li>
<li>
  <img src="../images/moda.svg" width="80" height="80" alt="">
  <span>Moda</span>
</li>
<li>
  <img src="../images/rozrywka.svg" width="80""height="80"  alt="">
  <span>Rozrywka</span>
</li>

<li>
  <img src="../images/publiczne.svg" width="80" height="80" alt="">
  <span>Instytucje publiczne</span>
</li>
<li>
  <img src="../images/it.svg" width="80" height="80"  alt="">
  <span>IT</span>
</li>
<li>
  <img src="../images/medycyna.svg" width="80" height="80"  alt="">
  <span>Medycyna</span>
</li>
<li>
  <img src="../images/przemysl.svg" width="80" height="80"  alt="">
  <span>Przemysł</span>
</li>
<li>
  <img src="../images/transport.svg" width="80" height="80"  alt="">
  <span>Transport</span>
</li>
<li>
  <img src="../images/zdrowie.svg" width="80" height="80"  alt="">
  <span>Zdrowie i uroda</span>
</li>
<li>
  <img src="../images/zywnosc.svg" width="80" height="80"  alt="">
  <span>Żywnośc</span>
</li>
<li>
  <img src="../images/uslugi.svg" width="80" height="80" alt="">
  <span>Usługi</span>
</li>
<li>
  <img src="../images/moda.svg" width="80" height="80" alt="">
  <span>Moda</span>
</li>
<li>
  <img src="../images/rozrywka.svg" width="80""height="80"  alt="">
  <span>Rozrywka</span>
</li>

<li>
  <img src="../images/publiczne.svg" width="80" height="80" alt="">
  <span>Instytucje publiczne</span>
</li>
<li>
  <img src="../images/it.svg" width="80" height="80"  alt="">
  <span>IT</span>
</li>
<li>
  <img src="../images/medycyna.svg" width="80" height="80"  alt="">
  <span>Medycyna</span>
</li>
<li>
  <img src="../images/przemysl.svg" width="80" height="80"  alt="">
  <span>Przemysł</span>
</li>
<li>
  <img src="../images/transport.svg" width="80" height="80"  alt="">
  <span>Transport</span>
</li>
<li>
  <img src="../images/zdrowie.svg" width="80" height="80"  alt="">
  <span>Zdrowie i uroda</span>
</li>
<li>
  <img src="../images/zywnosc.svg" width="80" height="80"  alt="">
  <span>Żywnośc</span>
</li>
<li>
  <img src="../images/uslugi.svg" width="80" height="80" alt="">
  <span>Usługi</span>
</li>
<li>
  <img src="../images/moda.svg" width="80" height="80" alt="">
  <span>Moda</span>
</li>
<li>
  <img src="../images/rozrywka.svg" width="80""height="80"  alt="">
  <span>Rozrywka</span>
</li>