<li>
  <img src="../images/publiczne.svg" alt="">
  <span>Instytucje publiczne</span>
</li>
<li>
  <img src="../images/it.svg" alt="">
  <span>IT</span>
</li>
<li>
  <img src="../images/medycyna.svg" alt="">
  <span>Medycyna</span>
</li>
<li>
  <img src="../images/przemysl.svg" alt="">
  <span>Przemysł</span>
</li>
<li>
  <img src="../images/transport.svg" alt="">
  <span>Transport</span>
</li>
<li>
  <img src="../images/zdrowie.svg" alt="">
  <span>Zdrowie i uroda</span>
</li>
<li>
  <img src="../images/zywnosc.svg" alt="">
  <span>Żywnośc</span>
</li>
<li>
  <img src="../images/uslugi.svg" alt="">
  <span>Usługi</span>
</li>
<li>
  <img src="../images/moda.svg" alt="">
  <span>Moda</span>
</li>
<li>
  <img src="../images/rozrywka.svg" alt="">
  <span>Rozrywka</span>
</li>
<li>
  <img src="../images/publiczne.svg" alt="">
  <span>Instytucje publiczne</span>
</li>
<li>
  <img src="../images/it.svg" alt="">
  <span>IT</span>
</li>
<li>
  <img src="../images/medycyna.svg" alt="">
  <span>Medycyna</span>
</li>
<li>
  <img src="../images/przemysl.svg" alt="">
  <span>Przemysł</span>
</li>
<li>
  <img src="../images/transport.svg" alt="">
  <span>Transport</span>
</li>
<li>
  <img src="../images/zdrowie.svg" alt="">
  <span>Zdrowie i uroda</span>
</li>
<li>
  <img src="../images/zywnosc.svg" alt="">
  <span>Żywnośc</span>
</li>
<li>
  <img src="../images/uslugi.svg" alt="">
  <span>Usługi</span>
</li>
<li>
  <img src="../images/moda.svg" alt="">
  <span>Moda</span>
</li>
<li>
  <img src="../images/rozrywka.svg" alt="">
  <span>Rozrywka</span>
</li>
<li>
  <img src="../images/publiczne.svg" alt="">
  <span>Instytucje publiczne</span>
</li>
<li>
  <img src="../images/it.svg" alt="">
  <span>IT</span>
</li>
<li>
  <img src="../images/medycyna.svg" alt="">
  <span>Medycyna</span>
</li>
<li>
  <img src="../images/przemysl.svg" alt="">
  <span>Przemysł</span>
</li>
<li>
  <img src="../images/transport.svg" alt="">
  <span>Transport</span>
</li>
<li>
  <img src="../images/zdrowie.svg" alt="">
  <span>Zdrowie i uroda</span>
</li>
<li>
  <img src="../images/zywnosc.svg" alt="">
  <span>Żywnośc</span>
</li>
<li>
  <img src="../images/uslugi.svg" alt="">
  <span>Usługi</span>
</li>
<li>
  <img src="../images/moda.svg" alt="">
  <span>Moda</span>
</li>
<li>
  <img src="../images/rozrywka.svg" alt="">
  <span>Rozrywka</span>
</li>

<li>
  <img src="../images/publiczne.svg" alt="">
  <span>Instytucje publiczne</span>
</li>
<li>
  <img src="../images/it.svg" alt="">
  <span>IT</span>
</li>
<li>
  <img src="../images/medycyna.svg" alt="">
  <span>Medycyna</span>
</li>
<li>
  <img src="../images/przemysl.svg" alt="">
  <span>Przemysł</span>
</li>
<li>
  <img src="../images/transport.svg" alt="">
  <span>Transport</span>
</li>
<li>
  <img src="../images/zdrowie.svg" alt="">
  <span>Zdrowie i uroda</span>
</li>
<li>
  <img src="../images/zywnosc.svg" alt="">
  <span>Żywnośc</span>
</li>
<li>
  <img src="../images/uslugi.svg" alt="">
  <span>Usługi</span>
</li>
<li>
  <img src="../images/moda.svg" alt="">
  <span>Moda</span>
</li>
<li>
  <img src="../images/rozrywka.svg" alt="">
  <span>Rozrywka</span>
</li>