<div class="brief-request shadow-box">
  <h2>Co możemy zrobić <span>dla Ciebie?</span></h2>
  <p>Pobierz niezobowiązujący brief, który pozwoli nam zaprojektować dla Ciebie wyjątkową ofertę</p>
  <form action="" class="align-center mailForm" data-form="brief">
    <input type="email" required placeholder="email" name="email">
    <button class="btn-glow btn-glow__green btn-glow__big">
      Chcę otrzymać brief
    </button>
  </form>
  <p class="align-center">
    W oparciu o informacje zawarte w briefie zaproponujemy usługę indywidualnie dopasowaną do Twoich potrzeb!
  </p>
</div>