<div class="brief-request shadow-box">
  <h2>Co możemy zrobić <span>dla Ciebie?</span></h2>
  <p>Pobierz niezobowiązujący brief, który pozwoli nam zaprojektować dla Ciebie wyjątkową ofertę</p>
  <form action="" class="align-center mailForm" data-form="brief" novalidate>
    <input type="email" required placeholder="email" name="email">
    <label class="checkbox">
      <div class="input">
        <input type="checkbox" name="consent" value=" Wyrażam zgodę na przetwarzanie moich danych osobowych w celu przesyłania informacji marketingowych za pomocą środków komunikacji elektronicznej i programów automatyzujących na podstawie ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną." >
        <span></span>
      </div>
      <span>
        Wyrażam zgodę na przetwarzanie moich danych osobowych w celu przesyłania informacji marketingowych za pomocą środków komunikacji elektronicznej i programów automatyzujących na podstawie ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną. <a href="https://grupabrandoo.pl/polityka-prywatnosci/">NASZA POLITYKA PRYWATNOŚCI</a>
      </span>
    </label>
    <button class="btn-glow btn-glow__green btn-glow__big g-recaptcha">
      Chcę otrzymać brief
    </button>
    <small class="recaptcha-info">
      This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.
    </small>
  </form>
  <p class="align-center">
    W oparciu o informacje zawarte w briefie zaproponujemy usługę indywidualnie dopasowaną do Twoich potrzeb!
  </p>
</div>