<footer>
  <div>
    <a href="/" class="home">Brandoo<span>.dev</span></a>
  </div>
  <div>
    <p>
      ul. Żółkiewskiego 2/2<br/>70-345 Szczecin, Poland
    </p>
  </div>
  <div>
    <a class="phone" href="tel:+48 531 993 900">+48 531 993 900</a>
    <a class="mail" href="mailto:info@brandoo.pl">info@brandoo.pl</a>
  </div>
</footer>