<footer>
  <div class="row col-3">
    <div class="logo">
      <a href="/" class="home">
        <include src="../images/logo.svg"></include>
        <span>Brandoo.dev</span>
      </a>
    </div>
    <div class="address">
      <p>
        ul. Żółkiewskiego 2/2<br/>70-345 Szczecin, Poland
      </p>
    </div>
    <div class="contact">
      <a class="phone" href="tel:+48 531 993 900"><include src="../images/phone.svg"> +48 531 993 900</a><br/>
      <a class="mail" href="mailto:info@brandoo.pl"><include src="../images/mail.svg"> info@brandoo.pl</a>
    </div>
  </div>
</footer>