<footer>
  <div class="row col-3">
    <div class="logo">
      <a href="/" class="home">
        <include src="../images/logo.svg"></include>
        <span>Brandoo.dev</span>
      </a>
    </div>
    <div class="address">
      <p>
        ul. Żółkiewskiego 2/2<br/>70-345 Szczecin, Poland
      </p>
    </div>
    <div class="contact">
      <a class="phone" href="tel:+48 531 993 900"><include src="../images/phone.svg"> +48 531 993 900</a><br/>
      <a class="mail" href="mailto:info@brandoo.pl"><include src="../images/mail.svg"> info@brandoo.pl</a>
    </div>
  </div>
  <div class="thankyou" data-popup-close>
    <img src="../images/car.svg" class="thankyou__car" alt="Dziekujemy za przesłanie formularza">
    <div  class="thankyou__msg align-center">
      <div style="display:inline-block;position:relative">
        <a href="#" class="popup__close" data-popup-close  style="position:absolute;right:2em"><img src="../images/close.svg" width="20" height="20" alt="Zamknij"></a>
        <img src="../images/thankyou.svg" alt="Thank you" style="display:block">
      </div>
    </div>
    <img src="../images/logo.svg" alt="Brandoo.dev" class="thankyou__logo">
  </div>
</footer>