<div class="job-application-form">
  <form action="" class="mailForm" data-form="job">
    <input type="email" name="email" required placeholder="Podaj adres e-mail">
    <textarea name="message" required cols="30" rows="10" placeholder="Miejsce na kilka słów od Ciebie"></textarea>
    <input type="hidden" name="position">
    <div class="cv-upload">    </div>
    <label class="checkbox">
      <div class="input">
        <input type="checkbox" name="consent" value="zgoda marketingowa">
        <span></span>
      </div>
      <span>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid rerum esse nihil, excepturi placeat ipsum modi iste. Voluptatibus illo minus vitae esse magnam! Nihil voluptas nostrum soluta cum sint eos.
      </span>
    </label>
    <div class="submit">
      <small class="recaptcha-info">
        This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </small>
      <button class="btn-glow btn-glow__green btn-glow__big">Dołącz do nas</button>
    </div>
  </form>
</div>