<div class="job-application-form">
  <form action="">
    <input type="email" name="" id="">
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <div class="cv-upload">    </div>
    <label class="checkbox">
      <div class="input">
        <input type="checkbox" name="" id="">
        <span></span>
      </div>
      <span>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid rerum esse nihil, excepturi placeat ipsum modi iste. Voluptatibus illo minus vitae esse magnam! Nihil voluptas nostrum soluta cum sint eos.
      </span>
    </label>
    <div class="submit">
      <button class="btn-glow btn-glow__green btn-glow__big">Dołącz do nas</button>
    </div>
  </form>
</div>