<div class="job-application-form">
  <form action="" class="mailForm" data-form="job" novalidate>
    <input type="email" name="email" required placeholder="Podaj adres e-mail">
    <textarea name="message" required cols="30" rows="10" placeholder="Miejsce na kilka słów od Ciebie"></textarea>
    <input type="hidden" name="position">
    <div class="cv-upload">    </div>
    <label class="checkbox">
      <div class="input">
        <input type="checkbox" name="consent" value="Wyrażam zgodę na przetwarzanie moich danych osobowych w celu przeprowadzenia procesu rekrutacyjnego pracownika, za pomocą środków komunikacji elektronicznej i programów automatyzujących na podstawie ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną.">
        <span></span>
      </div>
      <span>
        Wyrażam zgodę na przetwarzanie moich danych osobowych w celu przeprowadzenia procesu rekrutacyjnego pracownika, za pomocą środków komunikacji elektronicznej i programów automatyzujących na podstawie ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną.  <a href="https://grupabrandoo.pl/polityka-prywatnosci/">NASZA POLITYKA PRYWATNOŚCI</a>
      </span>
    </label>
    <div class="submit">
      <small class="recaptcha-info">
        This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </small>
      <button class="btn-glow btn-glow__green btn-glow__big">Dołącz do nas</button>
    </div>
  </form>
</div>