<nav>
  <div class="row">
    <div class="logo">
      <a href="/" class="home">
        <include src="../images/logo.svg"></include>
        <span>Brandoo.dev</span>
      </a>
    </div>
    <ul>
      <li><a href="/o-nas">O nas</a></li>
      <li class="has_submenu"><a href="/oferta">Oferta <include src="../images/down-arrow.svg"></include></a>
      <span class="submenu">
        <ul>
          <li><a href="/oferta#integracje">Integracje systemów IT</a></li>
          <li><a href="/oferta#dedykowane-aplikacje-webowe">Web Apps</a></li>
          <li><a href="/oferta#pwa">PWA</a></li>
          <li><a href="/oferta#consulting">Consulting IT</a></li>
        </ul>
      </span>
      </li>
      <li><a href="/kariera">Kariera</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
  </div>
</nav>