

html {
  padding:0;
  margin:0;
  body {
    margin:0;
    padding:0;
    min-height:100vh;
    background: radial-gradient(circle at calc(50% + 100px) 20vh,  rgba(188,40,217,1) 2%, rgba(42,48,149,1) 48%, rgba(16,9,41,1) 90%);
    background-color: #100929;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100vw 100%;
    font-family: museo-sans, sans-serif;
    font-weight:300;
    color:#fff;
  }
}

.row {
  max-width:1200px;
  margin:0 auto;
  padding:1em;
}