$md : 20em;
$lg : 40em;
$xl : 50em;
$xxl : 80em;

$blue :#4ECBF6 ;
$darkblue: #077EFA;
$green : #01FE93;
$pink : #EE0790;
$bg : #100929;

html {
  padding:0;
  margin:0;
  body {
    margin:0;
    padding:0;
    line-height:1.6;
    min-height:100vh;
    background: radial-gradient(circle at calc(50% + 100px) 20vh,  rgba(188,40,217,1) 1%, rgba(42,48,149,1) 35%, rgba(16,9,41,1) 80%);
    background-color: $bg;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100vw 100vw;
    font-family: museo-sans, sans-serif;
    font-weight:300;
    color:#fff;
  }
}

h1,h2,h3,h4,h5,h6 {
  img {
    display:inline;
    vertical-align: middle;
  }
}

h2 {
  font-family: gill-sans-nova-inline, sans-serif;
  color:$blue;
  font-size:calc(1em + 1.5vw);
}

a {
  color:$blue;
}

a:hover, a:visited {
  color:$pink;
}

.row {
  max-width:1200px;
  margin:0 auto;
  padding:1em;
}

.col-2,.col-3,.col-4 {
  display:grid;
  padding:calc(2em + 2vw);
  gap:calc(2em + 2vw);
  .col-header {
    grid-column: 1/-1;
  }
}

.col-reverse {
  direction: rtl;
  > * {
    direction: ltr;
  }
}

.col-align-center {
  align-items: center;
}

@media (min-width:$lg) {
  .col-2, .col-4 {
    grid-template-columns:1fr 1fr;
  }
  .col-3 {
    grid-template-columns:1fr 1fr 1fr;
  }
}

@media (min-width:$xxl) {
  .col-4 {
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}

.glow-box {
  border:solid 4px $blue;
  background: $bg;
  border-radius: .5em;
  padding:calc(2em + 2vw);
  gap:calc(2em + 2svw);
  box-sizing: border-box;
  position:relative;
  margin:2em auto;
  h2 {
    margin:0;
    position:absolute;
    top:-1.8em;
    left:1em;
    font-sizE:1.5rem;
    &:before {
      position:absolute;
      height:2em;
      width:100%;
      content: "";
      background:$bg;
      left:0;
      top:calc(1.8em - 4px);
      z-index:0;
    }
    img {
      height:3em;
      position:relative;
      z-index:1;
    }
  }
}

.onload {
  opacity:0;
  transition:all .5s;
  transform:translateY(-1em);
  transition-delay: 1s;
  &.loaded {
    opacity:1;
    transform:none;
  }
}

a.btn {
  cursor:pointer;
}
a.btn-glow {
  --glow-color:#{$blue};
  text-decoration:none;
  display:inline-block;
  padding:.5em 2em;
  color:var(--glow-color,$blue);
  border-radius:.5em;
  border:solid .2em var(--glow-color,$blue);
  text-shadow:0 0 5px var(--glow-color,$blue);
  box-shadow: 0 0 10px var(--glow-color,$blue) , 0 0 10px var(--glow-color,$blue) inset;
  transition:all .5s;
  &:hover {
    --glow-color:#{$pink};
    animation: flicker 1s infinite;
  }
  &.btn-glow__green {
    --glow-color:#{$green};
    &:hover {
      --glow-color:#{$blue};
    }
  }
  &.btn-glow__pink {
    --glow-color:#{$pink};
  }
}

@keyframes flicker {
  0% {  
    text-shadow:0 0 5px var(--glow-color,$blue);
    box-shadow: 0 0 10px var(--glow-color,$blue) , 0 0 10px var(--glow-color,$blue) inset;
  }
  10% {  
    text-shadow:0 0 0 var(--glow-color,$blue);
    box-shadow: 0 0 5px var(--glow-color,$blue) , 0 0 5px var(--glow-color,$blue) inset;
  }  
  20% {  
    text-shadow:0 0 10px var(--glow-color,$blue);
    box-shadow: 0 0 15px var(--glow-color,$blue) , 0 0 15px var(--glow-color,$blue) inset;
  }  
  35% {  
    text-shadow:0 0 10px 20px var(--glow-color,$blue);
    box-shadow: 0 0 0 var(--glow-color,$blue) , 0 0 0 var(--glow-color,$blue) inset;
  } 
  44% {  
    text-shadow:0 0 0 var(--glow-color,$blue);
    box-shadow: 0 0 15px var(--glow-color,$blue) , 0 0 15px var(--glow-color,$blue) inset;
  }   
  50% {  
    text-shadow:0 0 5px var(--glow-color,$blue);
    box-shadow: 0 0 10px var(--glow-color,$blue) , 0 0 10px var(--glow-color,$blue) inset;
  }
  60% {  
    text-shadow:0 0 0 var(--glow-color,$blue);
    box-shadow: 0 0 5px var(--glow-color,$blue) , 0 0 5px var(--glow-color,$blue) inset;
  }  
  75% {  
    text-shadow:0 0 10px var(--glow-color,$blue);
    box-shadow: 0 0 15px var(--glow-color,$blue) , 0 0 15px var(--glow-color,$blue) inset;
  }  
  80% {  
    text-shadow:0 0 10px var(--glow-color,$blue);
    box-shadow: 0 0 0 var(--glow-color,$blue) , 0 0 0 var(--glow-color,$blue) inset;
  } 
  90% {  
    text-shadow:0 0 0 var(--glow-color,$blue);
    box-shadow: 0 0 15px var(--glow-color,$blue) , 0 0 15px var(--glow-color,$blue) inset;
  } 
  100% {  
    text-shadow:0 0 0 var(--glow-color,$blue);
    box-shadow: 0 0 5px var(--glow-color,$blue) , 0 0 5px var(--glow-color,$blue) inset;
  } 
}

#oferta {
  h2 {
    text-align:center;
  }
}
.offer-tiems {
  display:grid;
  gap:1em;
  padding:0;
  .offer-item {
    border: solid 3px $darkblue;
    padding: 2em 1em;
    border-radius:.5em;
    display:grid;
    grid-template-rows: 1fr auto;
    text-align:center;
    padding-top:3em;
    position:relative;
    &:before {
      position:absolute;
      z-index:0;
      content:"";
      width:100%;
      height:100%;
      transition:all 1s;
      background: radial-gradient(circle at 80% 50%, rgba(188,40,217,1) 6%, rgba(42,48,149,0.6253851882549895) 48%, rgba(16,9,41,0) 100%);
      background-size:100% 200%;
      opacity:0;
    }
    > div {
      position: relative;
      z-index:2;
    }
    &:hover {
      &:before {
        opacity:.3;
      }
    }
    h3 {
      color:$darkblue;
    }
    p {
      text-align:left;
    }
    .btn-glow {
      margin-top:1em;
    }
  }
}


footer {
  position:relative;
  padding-bottom:5em;
  margin-top:3em;
  border-top:solid 1px $pink;
  &:before {
    width:100%;
    height:300%;
    left:0;
    position:absolute;
    bottom:0;
    content:"";
    background: radial-gradient(ellipse at center 100%, rgba(42,48,149,.8) 0%,  rgba(159,0,255,0.2) 30%, rgba(16,9,41,0) 70%);
    background-size:200% 80%;
    background-position:center bottom;
    background-repeat: no-repeat;
    z-index:-1;

  }
  svg {
    widtH:10em;
  }
  .contact {
    text-align: right;
  }
  a {
    color:#fff;
  }
  p {
    margin-top:0;
  }
}

#o-brandoo {
  .col-2 {
    padding:1em 0;
  }
}

a.phone , a.mail {
  text-decoration:none;
}

#branze {
  h2 {
    text-align:center;
    max-width:15em;
    margin:1em auto;
  }
  ul {
    list-style-type:none;
    display:flex;
    align-items: center;
    width:100vw;
    li {
      display:inline-block;
      text-align:center;
      flex-grow:1;
      img {
        display:block;
        margin:1em auto;
      }
    }
  }
}


nav {
  .row {
    display:grid;
    align-items:center;
    justify-content: center;
    text-align:center;
    @media (min-width:$lg) {
      text-align:left;
      justify-content:auto;
      grid-template-columns: 1fr auto;
    }
  }
  .logo {
    svg {
      height:calc(2em + 1.5vw);
    }
  }
  ul {
    display:flex;
    padding:0;
    margin:0;
    list-style-type:none;
    li {
      padding:.5em;
      @media (min-width:$lg) {
        padding:.5em 1em;
      }
      a {
        white-space:nowrap
      }
    }
  }
}