$md : 20em;
$lg : 40em;
$xl : 50em;
$xxl : 80em;

$blue :#4ECBF6 ;
$darkblue: #077EFA;
$navy: #090D6A;
$green : #01FE93;
$pink : #EE0790;
$bg : #100929;

@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core";

html {
  padding:0;
  margin:0;
  scroll-behavior: smooth;
  body {
    margin:0;
    padding:0;
    line-height:1.6;
    min-height:100vh;
    background: radial-gradient(circle 80vw at calc(50% + 20vw) 20vh,  rgba(188,40,217,1) 1%, rgba(42,48,149,1) 35%, rgba(16,9,41,1) 80%);
    background-color: $bg;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-family: museo-sans, sans-serif;
    font-weight:300;
    color:#fff;
    position:relative;
    display: grid;
    grid-template-rows: 1fr auto;
    > * {
      min-width: 0;
    }
    @media (max-width:$lg) {
      font-size:.9em;
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight:300;
  img {
    display:inline;
    vertical-align: middle;
  }
}
h3 {
  font-weight: 400;
}

h2 {
  font-family: gill-sans-nova-inline, sans-serif;
  color:$blue;
  font-size:calc(1em + 1.5vw);
  span {
    color:$green;
  }
}

h4 {
  font-weight:300;
  margin: 2em 0;
  font-size:1.2em;
}

a {
  color:$blue;
  text-decoration:none;
}

a:not(.btn-glow):hover, a:not(.btn-glow):visited {
  color:$pink;
}

section {
  box-sizing:border-box;
}

.row {
  max-width:1200px;
  margin:0 auto;
  padding:1em;
  &.narrow {
    max-width:1000px;
  }  
  &.ultranarrow {
    max-width:700px;
  }

}

.align-center {
  text-align:center;
}

.col-2,.col-3,.col-4 {
  display:grid;
  padding:calc(2em + 2vw);
  gap:calc(2em + 2vw);
  .col-header {
    grid-column: 1/-1;
  }
}

.col-reverse {
  direction: rtl;
  > * {
    direction: ltr;
  }
}

.col-align-center {
  align-items: center;
}

@media (min-width:$lg) {
  .col-2, .col-4 {
    grid-template-columns:1fr 1fr;
  }
  .col-3 {
    grid-template-columns:1fr 1fr 1fr;
  }
}

@media (min-width:$xxl) {
  .col-4 {
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}

.glow-box {
  border:solid 4px $blue;
  background: $bg;
  border-radius: .5em;
  padding:calc(2em + 2vw);
  gap:calc(2em + 2svw);
  box-sizing: border-box;
  position:relative;
  margin:2em auto;
  h2 {
    margin:0;
    position:absolute;
    top:-1.8em;
    left:1em;
    font-sizE:1.5rem;
    &:before {
      position:absolute;
      height:2em;
      width:100%;
      content: "";
      background:$bg;
      left:0;
      top:calc(1.8em - 4px);
      z-index:0;
    }
    img {
      height:3em;
      width:auto;
      position:relative;
      z-index:1;
      max-width: 100%;
    }
  }
}

.onload {
  opacity:0;
  transition:all .5s;
  transform:translateY(-1em);
  transition-delay: 1s;
  &.loaded {
    opacity:1;
    transform:none;
  }
}

.btn {
  cursor:pointer;
}
.btn-glow {
  --glow-color:#{$blue};
  text-decoration:none;
  display:inline-block;
  padding:.5em 2em;
  background:none;
  cursor:pointer;
  color:var(--glow-color,$blue);
  border-radius:.5em;
  border:solid .2em var(--glow-color,$blue);
  text-shadow:0 0 5px var(--glow-color,$blue);
  box-shadow: 0 0 10px var(--glow-color,$blue) , 0 0 10px var(--glow-color,$blue) inset;
  transition:all .5s;
  font-weight:200;
  &:hover {
    --glow-color:#{$pink};
  }
  &.btn-glow__green {
    --glow-color:#{$green};
    &:hover {
      color:#fff;
      text-shadow:0 0 5px $pink;
    }
  }
  &.btn-glow__pink {
    --glow-color:#{$pink};
  }
  &.btn-glow__big {
    font-size:1.2em;
  }
}

#oferta {
  h2 {
    text-align:center;
  }
}
.offer-tiems {
  display:grid;
  gap:1em;
  padding:0;
  .offer-item {
    border: solid 3px $darkblue;
    padding: 2em 2.2em;
    border-radius:.5em;
    display:grid;
    grid-template-rows: 1fr auto;
    text-align:center;
    padding-top:3em;
    position:relative;
    &:before {
      position:absolute;
      z-index:0;
      content:"";
      width:100%;
      height:100%;
      transition:all 1s;
      background: radial-gradient(circle at 80% 50%, rgba(188,40,217,1) 6%, rgba(42,48,149,0.6253851882549895) 48%, rgba(16,9,41,0) 100%);
      background-size:100% 200%;
      opacity:0;
    }
    > div {
      position: relative;
      z-index:2;
    }
    &:hover {
      &:before {
        opacity:.3;
      }
    }
    h3 {
      color:$darkblue;
    }
    p {
      text-align:left;
    }
    .btn-glow {
      margin-top:1em;
    }
  }
}


footer {
  position:relative;
  margin-top:3em;
  border-top:solid 1px $pink;
  @media (max-width:$lg) {
    text-align:center;
  }
  .row {
    padding:2em;
  }
  &:before {
    width:100%;
    height:300%;
    left:0;
    position:absolute;
    bottom:0;
    content:"";
    background: radial-gradient(ellipse at center 100%, rgba(42,48,149,.8) 0%,  rgba(159,0,255,0.2) 30%, rgba(16,9,41,0) 70%);
    background-size:200% 80%;
    background-position:center bottom;
    background-repeat: no-repeat;
    z-index:-1;

  }
  svg {
    widtH:10em;
  }
  @media (min-width:$lg) {
    .contact {
      text-align: right;
    }
  }
  a {
    color:#fff;
  }
  p {
    margin-top:0;
  }
}

#o-brandoo {
  .col-2 {
    padding:1em 0;
  }
}

a.phone , a.mail {
  text-decoration:none;
}

.logo {
  span {
    display:none;
  }
}


nav {
  z-index:9999;
  position:relative;
  .row {
    display:grid;
    align-items:center;
    justify-content: center;
    text-align:center;
    @media (min-width:$lg) {
      text-align:left;
      justify-content:auto;
      grid-template-columns: 1fr auto;
    }
  }
  .logo {
    svg {
      height:calc(2em + 1.5vw);
    }
  }
  .row > ul {
    display:flex;
    padding:0;
    margin:0;
    list-style-type:none;
    > li {
      padding:.5em;
      @media (min-width:$lg) {
        padding:.5em 1em;
      }
    }
    > li {
      > a {
        white-space:nowrap;
        text-decoration:none;
        position:relative;
        color:#fff;
        &:visited {
          color:#fff;
        }
        &:before {
          content:"";
          position:absolute;
          top:150%;
          width:100%;
          left:0;
          height:0;
          border-top:solid 3px $green;
          opacity:0;
          transition:all .2s;
          transform: translateY(.5em);
        }
        svg {
          width:1em;
          display:inline-block;
          vertical-align: middle;
          height:.7em;
          path {
            fill: $green;
          }
        }
      }
    }
    > li:not(.has_submenu) {
      > a {
        color:#fff;
        &.current-page, &:hover {
          color:#fff;
          &:before {
            opacity:1;
            transform: translateY(0);
          }
        }
      }
    }
    > li.has_submenu {
      > a {

        color:#fff;
        &.current-page{
          &:before {
            opacity:1;
            transform: translateY(0);
          }
        }
      }
      &:hover {
        > a:before {
          opacity:0;
          transform: translateY(.5em);
        }
      }
    }
  }
}

    .has_submenu {
      position:relative;
      &:hover {
        .submenu {
          opacity:1;
          pointer-events:auto;
          transform:translate(-50%, 0);
        }
      }
      .submenu {
        opacity:0;
        pointer-events: none;
        transform:translate(-50%, 1em);
        top:2em;
        lefT:50%;
        display:block;
        box-sizing: border-box;
        position:absolute;
        padding-top:2em;
        z-index:9999;
        transition:all .5s;
      }
      ul {
        padding:2em;
        list-style-type:none;
        background:$bg;
        border-radius: .5em;
        border:solid 2px $pink;
        &:before {
          content:"";
          border:solid 18px transparent;
          border-bottom:solid 16px $pink;
          position:absolute;
          top:5.5px;
          left:50%;
          margin-left:-18px;
          z-index:-1
        }
        &:after {
          content:"";
          border:solid 10px transparent;
          border-bottom:solid 10px $bg;
          position:absolute;
          top:15px;
          left:50%;
          margin-left:-10px;
        }
        li {
          a {
            color:#fff;
            white-space: nowrap;
            line-height:2;
            text-decoration: none;
            &:visited {
              color:#fff;
            }
            &:hover {
              color:$green;
            }
          }
        }
      }
    }

header {
  h1 {
    font-size: clamp(2rem, 5vw, 3.5em); 
    font-weighT:300;
    margin-top:0;
    line-heighT:1.3;
  }
  div >svg {
    max-width:100%;
    max-height:80vh;
    height:auto;
    @media (min-width:$lg) {
      margin-bottom:-10vh;
    }
  }
  .mail,.phone {
    color:inherit;
    font-size:1.5em;
  }
  span.contact {
    margin-top:4em;
    display:block;
  }
}

.home header {
  .tag {
    display:block;
    font-weight:bold;
    margin-bottom:2em;
  }
  div {
    position:relative;
  }
  img {
    max-width: 100%;
    height:auto;
    margin-bottom:4em;
    @media (min-width:$xxl) {
      width: 120%;
      max-width:none;
    }
  }
  .badge {
    position:absolute;
    width:40em;
    max-width:50%;
    height:auto;
    top:70%;
    left:-5%;
    @media (min-width:$lg) {
      left:-20%;
    }
  }
  .col-2 {
    gap:0;
  }
}

#przepis-na-sukces {
  h2 + div h3 {
    margin-top:2em;
  }
  h3{
    margin-top:4em;
    font-size:2em;
    font-weighT:500;
    color:$darkblue;
  }
}

.offer-box {
  border:solid 4px $darkblue;
  border-radius:.5em;
  padding:calc(1em + 2vw) calc(1.5em + 4vw);
  box-sizing: border-box;
  margin:2em auto;
  @media (max-width:$lg) {
    margin:1em;
    padding:1em;
  }
  h2:first-child {
    margin-top:0;
    display:grid;
    grid-template-columns: auto 1fr;
    gap:1em;
    align-items: center;
    line-height:1.3;
    font-family: inherit;
    font-size:2em;
    color:$darkblue;
  }
}


.expand-block {
  .expand-block__header {
    h3 {
      font-weight:normal;
      font-size:1.5em;
      font-weight:300;
      margin-top:0;
      a {
        text-decoration:none;
        color:#fff;
        &:hover {
          color:$green;
        }
        &:after {
          content:"";
          width:1em;
          height:1em;
          background:url(../images/plus.svg);
          background-size: .6em;
          background-position: center;
          margin-left:.2em;
          display:inline-block;
          background-repeat: no-repeat;
          vertical-align: middle;
        }

      }
    }
  }
  .expand-block__content {
    height:0;
    overflow:hidden;
    transform:translateY(4em);
    opacity:0;
    transition:all .5s;
    box-sizing: border-box;
    > *:last-child {
      padding-bottom: 2em;
    }
  }
  &.expand-block--animate {
    .expand-block__content {
      transform:translateY(0);
      opacity:1;
    }
    .expand-block__header h3 a:after {
      background-image: url(../images/minus.svg);
    }
  }
}


#o-brandoo {
  padding:calc(2em + 2vw) 0;
}

#zadowoleni-klienci, #grupa {
  padding:1em;
  
  .glide__slides {
    display:flex;
    align-items: center;
    justify-items: center;
  }
  .glide__slide {
    display:grid;
    align-items: center;
    justify-items: center;
    img {
      max-height:5em;
      widtH:auto;
      height:auto;
      max-width:10em;
    }
  }
  [data-glide-el="controls"] {
    display:grid;
    grid-template-columns: auto 1fr auto;
    margin:0 -2em;
    transform: translateY(-5em);
    margin-bottom:-2em;
  }
  [ data-glide-dir] {
    border:0;
    width:2em;
    height:4em;
    background:url(../images/next.svg) no-repeat center;
    &[ data-glide-dir = "<"] {
      background-image:url(../images/prev.svg)
    }
    span {
      display:none;
    }
  }
}
#grupa {
  .tech {
    padding:1em;
  }
}

#branze {
  h2 {
    text-align:center;
    max-width:15em;
    margin:1em auto;
  }
  .sectors__icons {
    position:relative;
    lefT:50%;
    overflow:hidden;
    transform:translateX(-50vw);
    widtH:calc(100vw - 12px);

  }
  ul {
    list-style-type:none;
    align-items: center;
    display:inline-flex;
    gap:6em;
    padding:0;
    box-sizing:border-box;
    animation: spin 30s infinite linear;
    &:hover {
      animation-play-state: paused;
    }
    li {
      display:inline-block;
      text-align:center;
      flex-grow:1;
      img {
        display:block;
        margin:1em auto;
      }
    }
  }
}

@keyframes spin {
 from {
   transform:translateX(0)
 }
 to {
   transform:translateX(-25.3%)
 }
}


#branze {
  ul {
    
    li {
      flex-grow:0;
    }
  }
}
form {
  input, textarea{
    border:0;
    background:#fff;
    display:block;
    width:100% !important;
    padding:1em;
    border-radius:.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
    font:inherit;
  }
  label.checkbox {
    display:grid;
    grid-template-columns:auto 1fr;
    gap:1em;
    font-size:.8em;
    margin-bottom:2em;
    cursor:pointer;
    .input {
      input[type="checkbox"] {
        display:none;
      }
      span {
        display:Block;
        width:1em;
        height:1em;
        background:#fff;
        border:solid 5px #fff;
        border-radius: 10em;
        margin-top:.3em;
      }
      input:checked + span{
        background:$blue;
      }
    }
  }
  .submit {
    display:grid;
    grid-template-columns: 1fr auto;
    gap:1em;
  }
}

.job-application-form {
  max-width:600px;
  margin:0 auto;
}

.carier {
  header {
    @media (min-width:$lg) {
      .row {
        grid-template-columns: 1.2fr .8fr ;
      }
    }
    svg {
      width:100%;
    }
  }
}

.phone, .mail {
  svg {
    height:1.2em;
    margin-right:.5em;
    width:auto;
    display:inline-block;
    vertical-align: middle;
    * {
      fill:$green;
    }
  }
}

.cv-upload {
  padding:0 0 2em 0;
  input {
    display:none;
  }
  .file-input {
    display:flex;
    align-items: center;
    color:$green;
    div {
      display:inline-block;
    }
    a {
      display:inline-block;
      width:.7em;
      height:.7em;
      background:url(../images/close.svg);
      background-size:.7em;
      background-repeat: no-repeat;
      background-position:center;
      text-indent: 999px;
      margin-left:.5em;
      overflow: hidden;
    }
    div:empty + a {
      display:none;
    }
  }
  button {
    margin-top: 1em;
    color:$green;
    background:none;
    border:0;
    &:after {
      content:"";
      display:inline-block;
      width: 1.5em;
      height:1.5em;      
      background:url(../images/upload.svg);
      background-size:1.5em;
      background-position:center;
      vertical-align: middle;
      margin-left:.5em;
    }
  }
}

ul.checkmark, ul.check {
  padding:.2em 0;
  li {
    list-style-type:none;
    position:relative;
    margin:1em 0;
    padding-left:1.2em;
    &:before {
      display:inline-block;
      content:"";
      width:1em;
      height:1em;
      background:url(../images/checkmark.svg) no-repeat center;
      background-position: center;
      background-size:1em;
      position:absolute;
      left:0;
      top:.3em;
    }
  }
}

ul.check {
  li:before {
    background-image:url(../images/check.svg);
  }
}

ul.none {
  list-style-type:none;
  padding:0;
}


.ogloszenie {
  display:grid;
  grid-template-rows: 1fr auto;
  h2 {
    font-family: inherit;
    text-align:center;
    font-sizE:2em;
    margin-top:0;
  }
  .align-center {
    padding-top:2em;
  }
}

.shadow-box {
  background:$navy;
  padding:2em;
  border:solid 3px $blue;
  border-radius:.5em;
  box-shadow:.5em .5em $navy;
}

.brief-request {
  margin:4em 1em;
  display:grid;
  grid-template-rows:auto auto auto;
  h2 {
    margin-top:0;
    grid-row: 1/1;
    grid-column : 1/1;
    transition:.5s all;
    font-size:2em;
  }
  h2 + p {
    grid-row: 1/1;
    grid-column : 1/1;
    opacity:0;
    transition:.5s all;
    text-transform:uppercase;
    font-size:1.2em;
  }
  form {
    transition:.5s all;
    grid-row: 2/4;
    grid-column : 1/1;
    .validationwrapper {
      margin:1em auto;
      margin-top:-7em;
      transition:.5s all;
      max-width:600px;
    }
    input {
      opacity:0;
      transition:.5s all;
    }
    button {
      position:relative;
      z-index:2;
    }
    &.disabled {
      pointer-events: none;
    }
  }
  form + p {
    margin-top:4em;
  }  

  .checkbox {
    opacity:0;
    margin:0 auto;
    transition:.5s all;
    margin-bottom:1em;
    max-width:600px;
    max-heighT:0;
    text-align:left;
  }
  small {
    opacity:0;
    margin-top:1em;
    display:block;
    transition:all .5s;
  }
   &.mouseover {
    h2 {opacity:0}
    h2 + p {
      opacity:1;
    }
    form {
      grid-row: 2/4;
      grid-column : 1/1;
      .validationwrapper {
        margin-top:0;
      }
      input {
        margin-top:0;
        opacity:1;
      }      
      button {
        pointer-events:auto;
      }
    }
    form + p {
      opacity:0;
      pointer-events: none;
      transform:translateY(3em);
    }
    .checkbox {
      opacity:1;
      margin:1em auto;
      max-height:10em;
    }
    
    small {
      opacity:1;
    }
  }
  form + p {
    transition:.5s all;
    grid-row: 3/4;
    grid-column : 1/1;

  }
}

.recaptcha-info {
  margin-top:1em;
  display:block;
  font-sizE:.8em;
  margin:1em auto;
  transition:all .5s;
  opacity:.7;
  line-height:1.2;
}

#aplication-popup {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:$bg;
  display:grid;
  align-items: center;
  z-index:9999;
  opacitY:0;
  pointer-events:none;
  transition: .5s all;
  .glow-box {
    transform: translateY(2em);
    max-width:40em;
    transition: .5s all;
  }
}

.show-popup {
  overflow:hidden;
  #aplication-popup {
    opacity:1;
    overflow:auto;
    pointer-events: auto;
    .glow-box {
      transform: translateY(0);
    }
  }

}

.preload * {
  transition: none !important;
}

.mailform {
  &.disabled {
    opacity:.5;
    pointer-events: none;
  }
}

.popup__wrapper {
  position:fixed;
  
  left:0;
  righT:0;
  widtH:100%;
  height:100%;
  max-height:100%;
  z-index:999999;
  pointer-events: none;
  transition: all .5s;
  box-sizing: border-box;
  opacity:0;
  &:before {
    position:fixed;
    background:$bg;
    opacity:0.9;
    left:0;
    top:0;
    height:100%;
    widtH:100%;
    content:"";
    z-index:-1;
  }
  .popup__inner-wrapper {
    display:grid;
    width:100%;
    height:100%;
    position:relative;
    overflow:auto;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
  }
  .popup__content {
    position: relative;
    z-index:2;
    transform: translateY(2em);
    transition: all .5s;
    padding:1em;
  }
  &.popup--animate {
    pointer-events: all;
    opacity:1;
    .popup__content {
      opacity:1;
      transform: translateY(0);
    }
  }
  .popup__close {
    position:fixed;
    righT:1em;
    padding:.5em;
    z-index:999999;
    top:1em;
    right:1em;
    img {
      width:1em;
      height:1em;
    }
  }
}

body.popup--visible {
  overflow: hidden;
}

.thankyou {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:$bg;
  background: radial-gradient(circle 80vw at calc(50% + 20vw) 20vh,  rgba(188,40,217,1) 1%, rgba(42,48,149,1) 35%, rgba(16,9,41,1) 80%);
  z-index:9999;
  display:grid;
  align-items: center;
  justify-items: center;
  overflow:hidden;
  > * {
    grid-column: 1/1;
    grid-row:1/1;
  }
  .thankyou__msg {
    height:auto;
    position:relative;
    width:90%;
    max-width:40em;
    margin-top:-10em;
  }
  .thankyou__logo {
    width:auto;
    max-height:3em;
    position:absolute;
    top:2em;
  }
  .thankyou__car {
    width:100%;
    max-width:45em;
    transform:translateY(70%);
    transition:all 1s;
  }
}

.popup--animate-before {
  .thankyou {
    .thankyou__car {
      transform:translate(-30em,90%) scale(1.5);
    }
  }
}

.popup--animate-after {
  .thankyou {
    .thankyou__car {
      transform:translate(30em,60%) scale(.5);
    }
  }
}

.grecaptcha-badge { 
  visibility: hidden;
}

.tech {
  display:flex;
  align-items: center;
  gap:1em;
  padding:2em 0;
  span:first-child {
    padding-right:.5em;
  }
  img {
    max-width:2.5em;
    max-height:2em;
    width:100%;
    height:auto;
    display:block;
  }
}

.validationwrapper {
  padding-top:.5em;
}

.not-valid {
  position:relative;
  input, textarea {
    box-shadow:0 0 1px 2px red;
  }
  .validation-msg {
    margin-bottom: -.5em;
    color:red;
    position:absolute;
    bottom:100%;
    left:0;
    font-size:.8em;
  }
}